[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
absl-py = "==1.2.0"
pandas = "*"
numpy = "*"
tensorflow = "==2.10.0"
wget = "*"
tqdm = "*"
tensorflow-text = "==2.10.0"
zstandard = "*"
tensorflow-ranking = "*"
tensorboard = "==2.10.0"
tensorflow-estimator = "==2.10.0"
keras = "==2.10.0"

[dev-packages]
coverage = "*"
pylint = "*"

[requires]
python_version = "3.10"

[scripts]
tests = "coverage run -m unittest discover -v -s tests"
coverage = "coverage report -m"
lint = "pylint --recursive=y ."
lint-errors-only = "pylint -E --recursive=y ."
