[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
absl-py = "==1.2.0"
pandas = "*"
numpy = "*"
tensorflow = "*"
wget = "*"
tqdm = "*"
tensorflow-text = "*"
zstandard = "*"

[dev-packages]

[requires]
python_version = "3.10"
